.presentationContainer {
    max-width:1500px;
    margin: 50px auto;
    padding: 50px;
    display:flex;
    justify-content: space-between;
}

.profile {
    display:flex;
    gap:20px;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.profileTitle {
    color: #272829;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
    /* border: 1px solid red; */
    margin:0px;
}

.profileScore {
    color: #272829;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    /* border: 1px solid red; */
    margin:0px;
}

.iconImage {
    width:350px;
    height:350px;
    border-radius: 50%;
    object-fit: cover;
}

.presentationStats {
    border-radius: 20px;
    padding:35px;
    display:flex;
    gap:100px;
    height: fit-content;
}

.smallSVGContainer {
    display:flex;
    align-items: center;
    gap:15px;
}

.smallSVG {
    width:20px;
    height:20px;
    fill: none;
}

.smallSVG path {
    fill: #272829;
}

.capsText {
    text-transform: uppercase;
    max-width: 200px;
    /* border: 1px solid red; */
}
.smallSVG2 {
    width:20px;
    height:20px;
    fill: none;
}



/***********       Country containers       ***********/

.countryContainer {
    max-width:1500px;
    margin:0px auto;
    display:flex;
    justify-content: space-between;
    /* gap:60px; */
    padding:0px 50px;
}

.topScorerStats {
    border-radius: 20px;
    padding: 25px 50px;
    display:flex;
    flex-direction: column;
    gap:15px;

    height: fit-content;
    width:45%;
}

.scorerContainer {
    display:flex;
    justify-content: space-between;
}

.scorerStat {
    width:200px;
    color: #272829;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.scorerYear {
    color: #272829;
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    max-width: 45%;
}

.countryStats {
    border-radius: 20px;
    padding: 32px 45px;
    display:flex;
    flex-direction: column;
    gap:10px;

    height: fit-content;
    width:45%;
}

.countryStatsInner {
    /* border: 1px solid red; */
    display:flex;
    /* gap:20px; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.countrySmallContainer {
    width: 45%;
}

.countryStatContainer {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.countryStat {
    color: #272829;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.countryNumber {
    color: #272829;
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}

.countryTitle {
    color: #272829;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}

.countrySubtitle {
    color: #272829;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}


/***********       Ballon containers       ***********/

.ballonContainer {
    max-width:900px;
    margin:50px auto;
    display:flex;
    flex-direction: column;
    gap:20px;
    padding:30px 50px;

    border-radius: 20px;
}

.ballonTitle {
    color: #272829;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0px;
}

.ballonInner {
    display:flex;
    justify-content: space-between;
    margin:0px;
}

.ballonSmallContainer {
    display:flex;
    flex-direction: column;
    gap:10px;
    margin:0px;
    /* border: 1px solid red; */
    width:45%;
}

.ballonPrize {
    display:flex;
    justify-content: space-between;
}

.ballonPosition {
    width:200px;
    color: #272829;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.ballonYears {
    color: #272829;
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
}

/***********       Icon teams containers       ***********/
.teamsContainer {
    border: 1px solid #272829;
    border-radius:20px;
    margin: 20px auto;
    max-width: 900px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;

    height:fit-content;
}

.teamsTitle {
    color: #272829;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 30px;
}

.teamsContainerInner {
    display:flex;
    gap:25px;
    flex-wrap: wrap;
    justify-content: center;
}

.teamLink {
    text-decoration: none;
    color: rgba(39, 40, 41, 0.6);
    font-family: Montserrat;
  }
  
.teamLink:hover {
    color: #272829;
  }
  
.teamsContainerInner a:global(.active) {
    color: #272829;
}

.notes {
    max-width: 1500px;
    display:flex;
    flex-direction: column;
    gap:25px;

    margin:120px auto 30px auto;
}

.notesText {
    color: #272829;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    margin: 0px;
    padding: 0px;
}